h3{
  margin: 0;
}

.section{
  margin-bottom: 50px;
  padding: 10px;
}

.nameLabel{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  word-wrap: break-word;
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.125em;
}

.iconMenu{
  font-size: 16pt;
  color: #565656;
  width: 25px;
}

.iconRightMenu{
  float: right;
  margin-top: 5px;
  color: #666666;
  font-size: 16pt;
}

.btnLogin{
  width: 100%;
  padding: 10px;
  font-size: 15pt;
  border-radius: 5px;
}


.elementListTopMenu{
  margin: 5px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #484848;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  cursor: pointer !important;
  display: grid;
  position: relative;
  text-align: center;
  width: 25%;
  background: none;
  font-weight: 800;
  outline: none;
  text-decoration: none;
  transition: background 0.3s ease 0s, border-color 0.3s ease 0s;
}
