<ion-header class="ionHeaderHeader" dir="{{GlobalFields.getLanguageLayout()}}" style="background-color: white; border: none; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);">
    <ion-toolbar  class="toolbarHeader">
        <div class="headerContainer">
            <div class="headerCol1" (click)="closeModal()">
                <i class="fas fa-times"  ></i>
            </div>
            <div class="headerCol2">
                <span>{{'MAP' | translate}}</span>
            </div>
        </div>
    </ion-toolbar>
</ion-header>


<ion-content  style="overflow: hidden;"  dir="{{GlobalFields.getLanguageLayout()}}">



    <!-- ***************** Google Maps ***************** -->

    <!-- https://github.com/SebastianM/angular-google-maps -->
    <!-- https://www.npmjs.com/package/agm-direction -->
    <span *ngIf="GlobalFields.site_details.mapType == 1">
        <agm-map *ngIf="!loading"
                 [latitude]="myLat"
                 [longitude]="myLng"
                 [zoom]="currentZoom"
                 [zoomControl]="false"
                 [streetViewControl]="false"
                 [clickableIcons]="false"
                 (centerChange)="centerChanged($event)"
                 [gestureHandling]="'greedy'">

            <agm-marker *ngIf="GlobalFields.lat && GlobalFields.long"
                    [latitude]="GlobalFields.lat"
                    [longitude]="GlobalFields.long"
                    [iconUrl]= "{url: '../../../assets/imgs/street-view.png', labelOrigin:{x:22.5,y:20}, scaledSize: {height: 40, width: 40}}">

               <!-- <agm-info-window>
                    <ion-button color="primary">Search nearby listings</ion-button>
                </agm-info-window>
                -->
            </agm-marker>

           <!-- <agm-marker
                    *ngFor="let m of positions; let i = index"
                    (markerClick)="clickedMarker(m)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [markerDraggable]="m.draggable"
                    [label]="m.labelOptions"
                    [iconUrl]="m.iconUrl">

                <agm-info-window [isOpen]="m.listing == selectedListing">
                    <div style="width: 100%;" *ngIf="selectedListing!=undefined">
                        <page-listingList [listing]="selectedListing" [type]="'1'" [search]="false"></page-listingList>
                    </div>
                </agm-info-window>

            </agm-marker>

            -->

             <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
               <agm-overlay
                       *ngFor="let m of positions; let i = index"
                       (markerClick)="clickedMarker(m)"
                       [latitude]="m.lat"
                       [longitude]="m.lng">

                    <!-- Custom pin HTML-->
                    <div class="imgMapPin"><img [src]="m.iconImgUrlHtml"><i class="iconMapPin {{m.iconNameHtml}}" [ngStyle]="GlobalFields.getPrimaryColorBackgroundJson()"></i></div>

                   <!-- Window opened on click-->
                    <agm-info-window [isOpen]="m.listing == selectedListing">
                        <div style="width: 100%;" *ngIf="selectedListing!=undefined">
                            <page-listingList [listing]="selectedListing" [type]="'1'" [search]="false"></page-listingList>
                        </div>
                    </agm-info-window>

               </agm-overlay>
              </agm-marker-cluster>



            <!--  <agm-direction *ngFor="let pos of positions" [origin]="pos" [destination]="pos"></agm-direction> -->
        </agm-map>
    </span>


    <!-- ***************** Open Street Maps ***************** -->

    <span *ngIf="GlobalFields.site_details.mapType == 2">
        <div id="map" style="width:100%; height:100%;"></div>


        <div *ngIf="showSelected" class="listingCard">
            <page-listingList [listing]="selectedListing" [type]="'1'" [search]="true"></page-listingList>
        </div>

    </span>

</ion-content>


