.backImg{
  height: 110px;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  display: inline-flex;
  background-color: black;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
}

.text{
  text-align: center;
  width: 100%;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.categoryBox{
  font-weight: 900;
  font-size: 18pt;
  position: relative;
  top: 22%;
  line-height: 1;
}
