.iconType{
  font-size: 13pt;
  background-color: rgb(241, 241, 241) !important;
  border-radius: 10px;
  height: 35px;
  text-align: center;
  line-height: 40px;
  width: 35px;
  color: #3a3a3a;
}

.imageCacheGeneralSearch{
  width: 35px;
  height: 35px;
  background-position: center !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  border-radius: 5px;
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
}
